# Importer les librairies

In [1]:
import pandas as pd 
import os
# IMPORTER LES LIBRAIRIES NECESSAIRES A L'ETUDE

# Importer les données

In [2]:
filepath = os.getcwd() + "/Data/MK8_Dataset.csv"
data = pd.read_csv(
    filepath,
    delimiter=";"
)

data

,Date,Challenger,Round,Pts,Elo,Rank,Game_phase,Tier,Year,Company,Top_player,Months_after_left_company
0,20211006,Ilir,1,37,1016,2,1-Early,B,2021,Trivadis,1,NaN
1,20211006,Alex,1,27,952,4,1-Early,C,2021,Trivadis,1,-19.0
2,20211006,Sylvain,1,29,984,3,1-Early,C,2021,Trivadis,0,NaN
3,20211006,Sacha,1,54,1048,1,1-Early,S,2021,Trivadis,1,-27.0
4,20211006,Ilir,2,48,1029,2,1-Early,A,2021,Trivadis,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2104,20250410,Alex,11,37,946,3,3-Late,B,2025,Trivadis,1,23.0
2105,20250410,Lev,12,48,1370,1,3-Late,A,2025,Trivadis,1,12.0
2106,20250410,Luca,12,47,1340,2,3-Late,A,2025,Trivadis,1,NaN
2107,20250410,Martin,12,44,1136,3,3-Late,A,2025,Trivadis,1,NaN
2108,20250410,Denes,12,43,1199,4,3-Late,A,2025,Accenture,1,NaN

# Questions

## 1. Inférence statistique (4 pts)

**Q1: Le score moyen obtenu sur 4 courses est-il significativement différent de 30 points ?**

**Q2: Le score moyen en Pts de Sacha est différent de celui de Lev?**

**Q3: Est-ce que les joueurs d'Accenture se retrouvent autant dans chaque Tier que les joueurs de Trivadis?**

**Q4: Existe-t-il une relation entre les Pts et le score Elo?**

**INSTRUCTIONS**

Pour chacune des questions 1 à 4 ci-dessus, argumenter de manière statistique en effectuant chacune des étapes suivantes:
1. Identifier la ou les variables d'intérêt et spécifier le type.
2. Réaliser une visualisation appropriée selon la ou les variables. Interpréter la visualisation.
3. Enoncer une hypothèse nulle et une hypothèse alternative considérant la ou les variables identifiées.
4. Identifier le test statistique approprié selon les hypothèses énoncées.
5. Vérifier la validation des assumptions selon le test identifié.
6. Calculer la statistique ainsi que la p-valeur.
7. Prendre une décision à partir de la p-valeur et d'un seuil alpha de 5%.
8. Interpréter le résultat et évaluer la taille de l'effet.

Quelques liens utiles pour la taille de l'effet:
* [https://rpsychologist.com/cohend/](https://rpsychologist.com/cohend/)
* [https://datatab.net/tutorial/effect-size-independent-t-test](https://datatab.net/tutorial/effect-size-independent-t-test)
* [https://www.simplypsychology.org/effect-size.html](https://www.simplypsychology.org/effect-size.html)

## 2. Data mining (2 pts)

**Q1: Effectuer une analyse statistique à l'aide d'une régression linéaire. Peut-on expliquer le score `Elo` actuel d'un joueur par sa performance du jour (`Pts`), l'inflation des scores avec le temps (les années) et son environnement de travail (`Company`) ?**

**Q2: Effecter une analyse statistique à l'aide d'un arbre de classification avec comme variable dépendante `Tier` et variables indépendantes `Elo`, `Company`, `Game_phase`. Fixer une profondeur maximale de 4. Visualiser l'arbre et expliquer quelques décisions.**